# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1r DAW A\M3 Programació\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
